.containerStyle {
    display: 'flex';
    width: '90vw'; 
    height: '90vh'; 
    align-items: 'center';
}
.w{
    overflow: hidden;
    width: 37vw;
}
section {
    margin: -1%;
    padding: 20px;
}
section .box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    float: left;
    height: 7vw;
    width: 8vw;
  }

  section .textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    height: 7vw;
    width: 8vw;
  }


  @media screen and (max-width: 520px) {
    .w{
        width: 100vw;
    }
    section .box {
        height: 20vw;
        width: 20vw;
      }
      section .textbox {
        height: 20vw;
        width: 21vw;
      }
    }

  @media screen and (max-width: 800px) and (min-width: 521px) {
      .containerStyle {
          flex-direction: column;
      }
    .w{
        width: 48vw;
    }
    section .box {
        height: 10vw;
        width: 10vw;
      }
      section .textbox {
        height: 9vw;
        width: 10vw;
      }
  }


  
 